/*index.css*/
#bodies{
	height:100%;
	background: #333 url(../pic/bg_black.jpg) no-repeat 100% 100%;
	background-size : cover; 
}

header{
	width: 300px;
	height:100%;
	padding: 20px 10px;
	background: rgba(0,0,0,.7);
	/*border-right: 1px solid #e0e0e0;*/
	box-shadow: 1px 0px 1px rgba(0,0,0,.6);
	position: absolute;
	left:0px;
	top: 0px;
}

header .photo img{
	display: block;
	height:80px;
	width:80px;
	margin: 0 auto;
	border-radius: 50%;
	-webkit-user-select:none;
}

header h1{
	text-align: center;
	font-size:2.4rem;
}
header h1 small{
	display: block;
	text-align: right;
	padding-right: 45px;
	margin-top: 10px;
	font-size: 1.2rem;
}
.links-list ul {
	padding:0 50px;
	margin-top: 30px;
}
.links-list ul li a{
	display: inline-block;
	height: 30px;
	width: 100%;
	line-height: 30px;
	text-align: left;
	font-size: 16px;
	color:#aaa;
}
.links-list ul li a:hover{
	color: #fff;
}

header .copyright{
	width: 100%;
	color: #f0f0f0;
	font-weight:100;
	text-align: center;
	position: absolute;
	bottom: 10px;
}

.content{
	/* width:100%;
	height:100%; */
	padding:10px;

	position: absolute;
	right:0px;
	left: 300px;
	top: 0px;
	bottom: 0px;
}

.content div{

}
.content div ul li{
	display: inline-block;
	width: 20%;
	/*height:250px;*/
	height: 250px;
	margin:10px 2%;
	padding:20px 15px;
	background: url(../pic/border.jpg) no-repeat center center;
	background-size: 100% 100%;
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	box-sizing:border-box;
	cursor:pointer;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.content div ul li:hover{
	/*background: none;*/
	transform:rotateY(360deg);
	-ms-transform:rotateY(360deg); 	/* IE 9 */
	-moz-transform:rotateY(360deg); 	/* Firefox */
	-webkit-transform:rotateY(360deg); /* Safari 和 Chrome */
	-o-transform:rotateY(360deg); 	/* Opera */
}